{
  "extends": "airbnb",
  "ecmaFeatures": {
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "plugins": [
    "mocha"
  ],
  "globals": {
    "chrome": true
  },
  "parser": "babel-eslint",
  "rules": {
    "mocha/no-exclusive-tests": 2,
    "indent": [2, 2, {"SwitchCase": 1}],
    "quotes": [2, "single"],
    "comma-dangle": [2, "never"],
    "keyword-spacing": [2, {
      "before": true,
      "after": true
    }],
    "no-underscore-dangle": 0,
    "react/prefer-es6-class": 0,
    "react/prop-types": 0,
    "react/no-multi-comp": 0,
    "react/prefer-stateless-function": 0,
    "space-before-function-paren": [2, "never"],
    "no-use-before-define": 0,
    "no-console": 0,
    "react/sort-comp": 0,
    "import/no-unresolved": 0,
    "no-else-return": 0,
    "prefer-const": 0,
    "react/jsx-closing-bracket-location": 0,
    "new-cap": 0,
    "padded-blocks": 0,
    "id-length": [2, {
      "min": 3,
      "max": 30,
      "properties": "never",
      "exceptions": ["id", "i", "e", "fn", "_", "db", "or", "a", "b", "j", "k", "el"]
    }]
  }
}
